<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="home">
<div th:replace="/header :: header"></div>

<main class="main-container home">
    <h1>MyBoard</h1>
    <h2 style="margin-top:2rem;">✨ 환영합니다 ✨</h2>
    <p>유하의 게시판 프로젝트에 오신 걸 환영합니다!</p>
</main>

<div th:replace="footer :: footer"></div>
</body>
</html>
